
/*------------HEADER-----------*/
.Logo {
    font-size: 20px;
    font-family: "STHeitiSC";
    color: rgb(87, 197, 160);
    text-transform: uppercase;
  }

.Login_or_register {
    font-size:10px;
    font-family: "Aller";
    color: rgb(126, 126, 126);
    text-transform: uppercase;
}

.header_top {
    background-color: #242424;
}


/*-----------NAVIGATION---------*/

nav{
    background-color:
}
li{
    list-style:none;

}
 {
    color: #7e7e7e;
}
ul {
    text-align: center;
}

.login{
    text-align:left;
}
/*--------MAINSECTION-------*/
section{
    background-image: url("../images/shoesbackground.jpg");
    background-repeat:no-repeat;
    background-size:100%;
}

.price {
    min-height: 60px;
    background-color: #57c5a0;
    width:120px;
    margin-top:25px;
}
.price span{
    margin:auto;
    color:white;
}

section {
    overflow:auto;

}
/*---------FOOTER-----------*/
footer {
    background-color: #edece7;
    height:15%;
}
footer ul li:last-child{
    color: green;

}

.li_background {
    background-color: #edece7;
    color: #737373;
    padding-right: 5px;
}
